:root {
  /* COLORS */
  --background-color: #abb8c3;
  --light-gray: #abb8c3;
  --background-color-dark: #292929;
  --shadow-color: #505050;
  --border-color: #505050;
  --gradient-med-gray: #282828;
  --gradient-dark-gray: #202020;
  --active-color-lblue: #2af;

  /* SIZES */
  --padding-base: 10px;
  --gap-base: 10px;
  --border-size: 1px;
  --scrollbar-width: 10px;

  /* HEADER */
  --header-height: 40px;
  --header-padding: 5px;
  --header-total: calc(var(--header-height) + 2*var(--header-padding));

  /* SIDEBAR */
  --sidebar-width: 80px;
  --sidebar-padding: var(--padding-base);
  --sidebar-total: calc(var(--sidebar-width) + 2*var(--sidebar-padding));

  /* NAVBAR */
  --navbar-width: 250px;
}

.noTouch {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

html {
    background-color: #000000;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
